@import url("./variables.css");
@import url("../(auth)/styles/auth.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("../components/NavBar.css");
@import url("../showcase/showcase.css");
@import url("./buttons.css");
@import url("./dropdown.css");
@import url("../components/gamecard.css");

/* Base Styles */
* {
  transition: all ease-in-out 0.1s;
  color: white;
  font-size: 1rem;
  font-family: "Roboto", serif;
  font-weight: 400;
}

body {
  background: var(--background-primary);
  margin: 0;
  padding: 0;
}

#page-content {
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

#page-title {
  font-size: 3rem;
}

input {
  padding: 12px 20px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
  background-color: var(--input-background);
}

input.invalid {
  border: 2px solid var(--error-background);
}

/* Paper Styles */
.paper,
.paper-2,
.paper-3 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 8px;
}

.paper {
  background-color: var(--paper);
}

.paper-2 {
  background-color: var(--paper-2);
}

.paper-3 {
  background-color: var(--paper-3);
}

/* Loader Styles */
.loader {
  width: 1rem;
  height: 1rem;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Error Box */
.error-box {
  background-color: var(--error-background) !important;
  border-radius: 8px !important;
}
