:root {
  --background-color: #151a22;
  --primary-color: teal;
  --secondary-color: cyan;
  --tertiary-color: aquamarine;
  --paper: rgba(255, 255, 255, 0.05);
  --info-background: darkcyan;
  --success-background: seagreen;
  --warning-background: darkgoldenrod;
  --error-background: indianred;
}
