.server-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  background-color: var(--bg-secondary);
  max-width: 350px;
  min-width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.server-card > *:not(:last-child) {
  margin-bottom: 1rem;
}

.server-card:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.server-card > .title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-primary);
}

.server-card > .id {
  font-size: 0.9rem;
  color: var(--text-secondary);
  font-style: italic;
}

.server-card > .badge {
  background-color: var(--bg-disabled);
  padding: 0.4rem 1rem;
  color: var(--text-disabled);
  font-weight: 600;
  border-radius: 2rem;
  font-size: 0.85rem;
  text-transform: uppercase;
}

.server-card.active {
  box-shadow: 0 4px 12px var(--focus-outline);
}

.server-card.active > .badge {
  background-color: var(--bg-alert-success);
  color: var(--text-alert-success);
}

.active-players {
  font-size: 1.1rem;
  color: var(--text-primary);
  font-weight: 500;
}

.server-card > .description {
  font-size: 1rem;
  color: var(--text-secondary);
  line-height: 1.5;
}

.server-card > .uptime {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-primary);
}

/* Responsive design */
@media (max-width: 768px) {
  .server-card {
    max-width: 100%;
    margin: 1rem auto;
    padding: 1.5rem;
  }

  .server-card > .title {
    font-size: 1.5rem;
  }

  .active-players,
  .server-card > .description {
    font-size: 0.9rem;
  }
}
