.info-section {
}

.edit-warning {
  color: var(--text-alert-danger);
  font-weight: bold;
}

.edit-button,
.form-actions button {
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.edit-button {
  background-color: var(--bg-alert-success);
  color: var(--text-alert-success);
}

.edit-form label {
  display: flex;
  flex-direction: column;
}

.edit-form input,
.edit-form textarea {
  border: 1px solid var(--border-secondary);
  border-radius: 0.5rem;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.form-actions button {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

.form-actions button:hover {
  background-color: var(--bg-secondary-hover);
}

/* Button to toggle visibility of additional params */
.toggle-params-btn {
  background-color: transparent;
  color: var(--text-primary);
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.toggle-params-btn:hover {
  color: var(--text-accent);
}

/* Style for additional parameters */
.additional-params {
}

.additional-params label {
  display: block;
}

.additional-params p {
}
