.dropdown {
  position: relative;
  display: inline-block;
  font-family: "Roboto", serif;
  color: var(--primary-text-color);
}

.dropdown .icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  margin-right: 0.5em;
  transition: transform 0.1s linear;
  color: var(--primary-text-color);
}

.dropdown.open .icon {
  transform: rotate(-180deg);
}

.dropdown menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 8px;
  background-color: var(--dropdown-bg);
  color: var(--dropdown-item-text);
  box-shadow: 0 4px 8px var(--paper-3);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.dropdown.open menu {
  display: block;
  opacity: 1;
  visibility: visible;
  animation: dropdown-fade-in 0.3s ease-out;
  border: 1px solid var(--dropdown-border);
}

menu li {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--dropdown-item-bg);
}

menu li:hover,
menu li:focus {
  background-color: var(--dropdown-item-hover-bg);
  color: var(--dropdown-item-text-hover);
}

menu li:focus {
  outline: none;
}

menu li.disabled {
  cursor: not-allowed;
  background-color: var(--dropdown-item-disabled-text);
  color: var(--dropdown-item-disabled-text);
}

@keyframes dropdown-fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
