@import url("./variables.css");
@import url("./buttons.css");
@import url("./dropdown.css");
@import url("../app/(auth)/auth.css");
@import url("../app/showcase/showcase.css");
@import url("../app/games/components/serverCard.css");
@import url("../app/games/components/serverModal.css");
@import url("../components/modal.css");
@import url("../components/gamecard.css");
@import url("../components/navbar.css");
@import url("../components/alert.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Base Styles */
:root {
  color: var(--text-primary);
  transition: all ease-in-out 0.3s;
  font-size: 1rem;
  font-family: "Roboto", serif;
  font-weight: 400;
}

body {
  background: var(--bg-primary);
  margin: 0;
  padding: 0;
}

#page-content {
  padding: 2rem;
}

#page-title {
  font-size: 3rem;
  color: var(--text-primary);
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

input {
  padding: 12px 20px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
  background-color: var(--input-bg);
  color: var(--input-text);
  font-size: 1rem;

  &::placeholder {
    color: var(--input-placeholder);
  }
}

input.invalid {
  border: 2px solid var(--bg-alert-error);
}

/* Paper Styles */
.paper,
.paper-2,
.paper-3 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 8px;
}

.paper {
  background-color: var(--bg-secondary);
}

.paper-2 {
  background-color: var(--bg-tertiary);
}

.paper-3 {
  background-color: var(--bg-button);
}

/* Loader Styles */
.loader {
  width: 1rem;
  height: 1rem;
  border: 3px solid var(--text-primary);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Error Box */
.error-box {
  background-color: var(--bg-alert-error) !important;
  border-radius: 8px !important;
}

.fa-icon {
  margin-right: 1rem;
}

/* Link Styling */
a {
  color: var(--button-primary);
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* Link Hover State */
a:hover {
  color: var(--button-primary-hover);
  text-shadow: 0 0 10px #fff;
}

#dev-message {
  display: flex;
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  background-color: var(--bg-secondary);
  padding: 2rem;
  border-radius: 1rem;
  animation: arrive 0.3s ease-out normal;

  width: 16rem;
  line-height: 2rem;

  & strong {
    font-weight: 900;
  }

  & > button {
    color: var(--text-primary);
  }

  & p:first-child {
    margin-bottom: 1rem;
  }

  &.leave {
    animation: leave 0.3s ease-in normal;
  }
}

@keyframes arrive {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes leave {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.server-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 2rem;
}

.server-list > * {
  flex: 1 1 calc(33.333% - 1.5rem); /* Adjust to fit three cards in a row */
  max-width: 400px;
}
