@import url("./variables.css");
@import url("./buttons.css");
@import url("./dropdown.css");
@import url("../app/(auth)/styles/auth.css");
@import url("../app/showcase/showcase.css");
@import url("../components/gamecard.css");
@import url("../components/navbar.css");
@import url("../components/alert.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Base Styles */
* {
  color: var(--text-primary);
  transition: all ease-in-out 0.3s;
  font-size: 1rem;
  font-family: "Roboto", serif;
  font-weight: 400;
}

body {
  background: var(--background-primary);
  margin: 0;
  padding: 0;
}

#page-content {
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

#page-title {
  font-size: 3rem;
  color: white;
}

input {
  padding: 12px 20px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
  background-color: var(--input-background);
}

input.invalid {
  border: 2px solid var(--error-background);
}

/* Paper Styles */
.paper,
.paper-2,
.paper-3 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 8px;
}

.paper {
  background-color: var(--paper);
}

.paper-2 {
  background-color: var(--paper-2);
}

.paper-3 {
  background-color: var(--paper-3);
}

/* Loader Styles */
.loader {
  width: 1rem;
  height: 1rem;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Error Box */
.error-box {
  background-color: var(--error-background) !important;
  border-radius: 8px !important;
}

.fa-icon {
  color: red;
  margin-right: 1rem;
}

/* Link Styling */
a {
  color: var(--primary-color); /* Default link color as primary color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition for hover state */
}

/* Link Hover State */
a:hover {
  color: var(
    --highlight-color
  ); /* Change text color on hover to ensure good contrast */
  text-shadow: 0 0 10px #fff;
}

#dev-message {
  pointer-events: none;
  position: fixed;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);

  & strong {
    font-weight: 900;
  }
}
